/* General styles - start */
body {
    margin: 0;
    box-sizing: border-box;
    background-color: #eee;
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

section {
    margin: 0 30px;
}

/* General styles - stop */

/* section - lokalizacja - start */

body {
    opacity: 1;
    transition: 2.5s opacity;
}

body.fade-out {
    opacity: 0;
    transition: none;
}
input[type="text"] {
    width: 130px;
    transition: width 0.4s ease-in-out;
}

input[type="text"]:focus {
    width: 60%;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    margin-bottom: 0;
    
    
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

